<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>itemEmotion</key>
		<string>happy</string>
	</dict>
	<dict>
		<key>itemEmotion</key>
		<string>annoyed</string>
	</dict>
	<dict>
		<key>itemEmotion</key>
		<string>sad</string>
	</dict>
	<dict>
		<key>itemEmotion</key>
		<string>confused</string>
	</dict>
	<dict>
		<key>itemEmotion</key>
		<string>angry</string>
	</dict>
	<dict>
		<key>itemEmotion</key>
		<string>bored</string>
	</dict>
	<dict>
		<key>itemEmotion</key>
		<string>tired</string>
	</dict>
	<dict>
		<key>itemEmotion</key>
		<string>jelly</string>
	</dict>
	<dict>
		<key>itemEmotion</key>
		<string>hungry</string>
	</dict>
	<dict>
		<key>itemEmotion</key>
		<string>upset</string>
	</dict>
	<dict>
		<key>itemEmotion</key>
		<string>worried</string>
	</dict>
	<dict>
		<key>itemEmotion</key>
		<string>excited</string>
	</dict>
	<dict>
		<key>itemEmotion</key>
		<string>panicked</string>
	</dict>
	<dict>
		<key>itemEmotion</key>
		<string>scared</string>
	</dict>
	<dict>
		<key>itemEmotion</key>
		<string>serious</string>
	</dict>
	<dict>
		<key>itemEmotion</key>
		<string>sick</string>
	</dict>
</array>
</plist>
